<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo Reacjs</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
  </head>
  <style>

    .violet{background-color:violet;}
  </style>
  <body>
    <div id="root"></div> 
    <script src="xuly.js" type="text/babel"></script>

  </body>
</html>
